<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="description" content="Universal online social media and social networking service">
  <meta name="keywords" content="Community, Social, Networking">
  <meta name="author" content="Ignisus">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#1976d2">
  <link rel="icon" href="assets/icons/logo.png">
  <link rel="manifest" href="manifest.webmanifest">
  <title>Ignisus</title>
</head>

<body>
  <div *ngIf="isLoading" class="loading-animation">
    <div class="sk-folding-cube">
      <div class="sk-cube1 sk-cube"></div>
      <div class="sk-cube2 sk-cube"></div>
      <div class="sk-cube4 sk-cube"></div>
      <div class="sk-cube3 sk-cube"></div>
    </div>
  </div>
  <app-header></app-header>
  <main>
    <router-outlet></router-outlet>
  </main>
</body>

</html>