<section class="content container">
    <h1>{{ "policy.title" | translate }}</h1>
    <p>{{ "policy.date" | translate }}:&nbsp;<time>08/02/2024</time></p>

    <p>{{ "policy.description" | translate }}</p>

    <h2>&#10148;&nbsp;{{ "policy.1" | translate }}</h2>
    <h3>{{ "policy.account" | translate }}</h3>
    <p>{{ "policy.accountText" | translate }}</p>
    <h3>{{ "policy.cookies" | translate }}</h3>
    <p>{{ "policy.cookiesText" | translate }}</p>

    <h2>&#10148;&nbsp;{{ "policy.2" | translate }}</h2>
    <p>{{ "policy.2text" | translate }}</p>

    <h2>&#10148;&nbsp;{{ "policy.3" | translate }}</h2>
    <p>{{ "policy.3text" | translate }}</p>

    <h2>&#10148;&nbsp;{{ "policy.4" | translate }}</h2>
    <p>{{ "policy.4text" | translate }}</p>
    <p>{{ "policy.4text2" | translate }}</p>

    <h2>&#10148;&nbsp;{{ "policy.5" | translate }}</h2>
    <p>{{ "policy.5text" | translate }}</p>
    <p>{{ "policy.5text2" | translate }}</p>
    <p>{{ "policy.5text3" | translate }}</p>

    <h2>&#10148;&nbsp;{{ "policy.6" | translate }}</h2>
    <p>{{ "policy.6text" | translate }}</p>

    <h2>&#10148;&nbsp;{{ "policy.7" | translate }}</h2>
    <p>info&#64;ignisus.org</p>
</section>